image:
  repository: ghcr.io/jmcgrath207/k8s-ephemeral-storage-metrics
  tag: 1.2.0
  imagePullPolicy: IfNotPresent
log_level: info
# -- Set as Deployment for single controller to query all nodes or Daemonset
deploy_type: Deployment
# Note in testing, Kube API does not refresh faster than 10 seconds
# -- Polling node rate for exporter
interval: 15 # Seconds
# -- Max amount of concurrent query requests at a time.
max_node_concurrency: 10
prometheus:
  enable: false
  release: kube-prometheus-stack

extra:
  # -- Create the ephemeral_storage_adjusted_polling_rate metrics to report Adjusted Poll Rate in milliseconds. Typically used for testing.
  adjusted_polling_rate: false

# For local development and testing
dev:
  enabled: false

podAnnotations: {}
